<!-- question_list.html -->
{% extends "root.html" %} {% block content %}
<style>
  html,
  body {
    margin-top: 35px;
    margin-bottom: 10%;
  }
</style>

<div class="container mt-4">
  <h1>Questions for {{ quiz.name }}</h1>
  <a href="{% url 'quiz:add_question' quiz.id %}" class="btn btn-primary my-3"
    >Add New Question</a
  >
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form }}
    <button type="submit" class="btn btn-primary mt-3">Upload</button>
  </form>
  <div class="list-group mt-4">
    <div class="list-group-item">
      {% if questions %}
      <div class="list-group list-group-flush">
        {% for question in questions %}
        <div class="list-group-item">
          <p class="fs-5">{{ question.text }}</p>
          {% if question.get_answers %}
          <ul class="list-group list-group-flush">
            {% for answer in question.get_answers %}
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              {{ answer.text }} {% if answer.correct %}
              <span class="badge bg-success">Correct</span>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="text-muted">No answers added for this question.</p>
          {% endif %}
          <div class="mt-3 d-flex justify-content-end">
            <form
              method="post"
              action="{% url 'quiz:delete_question' question.id %}"
              class="d-inline"
            >
              {% csrf_token %}
              <button type="submit" class="btn btn-danger me-2">Delete</button>
            </form>
            <a
              href="{% url 'quiz:update_question' question.id %}"
              class="btn btn-secondary"
              >Update</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="text-muted">No questions added yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
