<div>
  <style>
    .text-shadow-1 {
      text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
    }

    .card-cover {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    a {
      text-decoration: none;
    }
    .category-card:hover {
    transform: scale(1.02);
  }
  </style>

  <section class="pt-5 pb-9 py-md-11">
    <div class="container container-wd">
      <div class="row align-items-end mb-7">
        <div class="col-xl mb-5 mb-xl-0">
          <h1 class="mb-1">Categories</h1>
        </div>
        <div class="col-xl-auto">
          <!-- Nav -->
          <div
            class="nav justify-content-lg-start justify-content-xl-center justify-content-center tab-nav-1"
            id="pills-tab"
            role="tablist"
          >
            <button
              class="btn btn-primary"
              id="add-categories-button"
              data-bs-toggle="modal"
              data-bs-target="#addCategoryModal"
            >
              Add Categories
            </button>
          </div>
        </div>
      </div>
      <div class="container px-4 py-5" id="custom-cards">
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          {% for course_type in catogery %}
          <div class="col category-card">
            <a href="{{ course_type.name }}/">
              <div
                class="card card-cover overflow-hidden text-bg-dark rounded-4"
                style="background-image: url('{{ course_type.category_image.url }}');"
              >
                <div
                  class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
                >
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                    {{ course_type.name }}
                  </h3>
                  <ul class="d-flex list-unstyled mt-auto"></ul>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Add the following modal code -->
<div
  class="modal fade"
  id="addCategoryModal"
  tabindex="-1"
  aria-labelledby="addCategoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModalLabel">Add Category</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body container mt-5 justify-content-center">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Include Bootstrap JS library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
