
{% extends 'root.html' %}


{% block content %}

<style type="text/css">
  body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
  }

</style>


<main class="form-signin w-100 m-auto justify-content-center ">
  <form method="post"> {% csrf_token %}
    <h1 class="h3 mb-3 text-center fw-normal">Reset Password</h1>

    <div class="form-floating">
      <input type="email"  name="email" class="form-control" id="id_email" placeholder="name@example.com">
      <label for="id_email">Email address</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Send Reset Email</button>

  </form>
</main>

{% endblock %}