{% extends 'root.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    We have sent an email containing instructions for setting your password, provided that there is an account
              associated with the email address you entered.You can expect to receive this email shortly.
            In the event that you do not receive the email, kindly ensure that you have entered the correct registered
              email address and double-check your spam folder.
		  </p>
        <p class="m-auto p-2">Thank you.</p>
		  <p class="m-auto p-2"><a href={% url 'website_content:home' %}>Return to home page</a></p>
	</div>
</div>

{% endblock %}