{% extends 'root.html' %}

{% block content %}
<style type="text/css">
  body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
  }

</style>


<main class="form-signin w-100 m-auto justify-content-center ">
  <form method="post"> {% csrf_token %}
    <h1 class="h3 mb-3 text-center fw-normal">Change Password</h1>

    <div class="form-floating">
      <input type="password"  name="old_password" class="form-control" id="id_email" placeholder="Old Password">
      <label for="id_email">Old Password</label>
    </div>

    <div class="form-floating">
      <input type="password"  name="new_password1" class="form-control" id="NewPassword" placeholder="New Password">
      <label for="NewPassword">New Password</label>
    </div>

    <div class="form-floating">
      <input type="password"  name="new_password2" class="form-control" id="ReEnterNewPassword" placeholder="Re Enter New Password">
      <label for="ReEnterNewPassword">Re Enter New Password</label>
    </div>

    {% for field in form %}
    {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% endfor %}
    <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password</button>

  </form>
</main>

{% endblock %}
